<h2 class="pb-2 border-bottom">Earn Rewards</h2>
<div>
  <textarea readonly rows = "4" cols = "120" name = "description">
    You can now earn rewards (interest) on the Crypto you hold with team Crypto Bangsters. Any crypto currency you would like to earn rewards on will be removed from your wallet and inserted into a 'Reward Account'. You can remove your Crypto from your 'Reward Account' at any time, buy you will stop earning rewards. Rewards will be pain into your account daily.
 </textarea><br>
</div>
<fieldset>
  <legend>You Rewards Accounts</legend>
  <div>
  <ag-grid-angular
        style="width: 100%;"
        class="ag-theme-balham"
        domLayout='autoHeight'
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
      >
    </ag-grid-angular>
  </div>
</fieldset>
<fieldset>
  <legend>Transfer Between Interest Account and Wallet</legend>
  <div class="wrap-box" *ngIf="!isTransactionSubmitted">
    <div class="form-line">
        <input class="input-box" type="text" id="currencyAmount" placeholder="$0" #currencyAmount/>
        <!-- <input class="input-box" id="currencyAmount" placeholder="₿" #bitcoinAmount/>  -->
        <select name="fromTo" #fromTo>
          <option class="option-box" value="ToInterestAccount">From Wallet - To Interest Account</option>          
          <option class="option-box" value="FromInterestAccount">To Interest Account - From Wallet</option> 
        </select>
        <select name="Currency" #Currency>
          <option class="option-box" value="bitcoin">Bitcoin</option>          
          <option class="option-box" value="ethereum">Ethereum</option> 
        </select>    
    </div>
    <div class="form-line">
        <button type="button" (click)="confirmTransaction(currencyAmount.value);">
            Confirm
        </button>
  </div>

  <div *ngIf="isTransactionSubmissionSuccess">
    <div class="form-line">Thank you. You transaction is being processed.</div>  
  </div>
  </div>

  <div *ngIf="isTransactionSubmissionError">
    <div class="form-line">Thank you. There waa an error while processing transaction.</div>  
  </div>
</fieldset>
