<body>
<div class="logindiv">

	<div class="div-center">  
  
	  <div class="content">
		<h3>Login</h3>
		<hr />
		<form #inputs="ngForm" (submit)="onLoginSubmit(inputs)">
		  <div class="form-group">
			<label for="inputUsername">Username</label>
			<input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ngModel  #username="ngModel">
		  </div>
		  <div class="form-group">
			<label for="inputPassword1">Password</label>
			<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" ngModel  #password="ngModel">
		  </div>
		  <button type="submit" value="Login" class="btn btn-primary">Login</button>
		  <hr />
  
		</form>
  
	  </div>
  
  
	</div>

</div>

</body>