
@import "vars";

:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	flex: 1;
	flex-flow: column;
	min-height: 100%;
	margin-top: 5em;
}


button[disabled]{
	opacity: 0.5;
}
.invalid-input {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
