@import "vars";

// :host {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100vh;
// 	margin-left: 20em !important;
// 	margin-bottom: 100px;
// 	overflow: visible;
// }

// main {
// 	display: flex;
// 	flex: 1;
// 	flex-flow: column;
// 	min-height: 100%;
// 	overflow: visible;
// 	margin-top: 5em;
// 	margin-left: 20em !important;	
// }

.title-box {
	text-align: left;
}

.form-box {
	margin-top: 10em !important;	
}

input {
	padding: 5px 20px;
	margin: 0.5em 0.5em ;
	display: inline-block;
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 3px;
}
.input-box {
	width: 8em;
}

.form-line {
	display: flex;	
	justify-content: center;
	align-items: center;
	font-size: 90%;
	font-weight: 300;
	
}



.wrap-box {	
	padding-top: 1em;
	padding-bottom: 0em;	
}

label {
    display: inline-block;
	width: 80px;
	text-align: right;
	margin-bottom: .0rem !important;
}
.small-text {
	font-size: 85%;
}

.inline-box {
	display: inline-block;
	padding: 0px;
	margin:0.5em 1em;
	text-align: center;
}

.inline-box-margin {
	display: inline-block;
	padding: 0px;
	margin:0.5em 1em;
	margin-left: 30px;
	text-align: center;
}

option {
	padding: 8px !important;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
}         

button {
	display: inline-block;
	padding: 5px 20px;
	margin:0.5em 0.5em ;
	color: #007bff;
	text-align: center;
	border: 1px solid #007bff;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
}

.one-line {
	display: inline-block;
	text-align: center;
	font-size: 0.8rem;
}

button:hover {
	background-color: #007bff;
	transition: 0.1s;
	color: white;
}

select {
	display: inline-block;
	padding: 8px 12px;
	margin:0.5em 1em;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;	
}

.field-box {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1em;
	padding-top: 0.35em;
	padding-bottom: 1em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 2px groove (internal value);
	border: 1px solid #ccc;
}

.field-title {
	margin-top: -1.2em;
	background-color: white;
	color: gray;
	padding: 0px 10px;
	font-size: 0.8rem;
	width: auto;
	float: left;
	display: block;	
}

legend {
	background-color: white;
	color: gray;
	padding: 5px 10px;
	font-size: 0.8rem;
	width: auto !important;
}

footer {
	width: 100%;
	min-height: 64px;
	max-height: 100px;	
	position: absolute;

	.fa-heart {
		
	}

	> .container {
		padding: 0 15px;

		p {
			text-align: center;
			margin: 20px 0;
		}
	}
}
